<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/index"></ion-back-button>
    </ion-buttons>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Información Cliente</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-icon name="person" slot="start"></ion-icon>
              <ion-label position="floating">Nombre Completo</ion-label>
              <ion-input [(ngModel)]="customerName" type="text" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="mail" slot="start"></ion-icon>
              <ion-label position="floating">Email</ion-label>
              <ion-input [(ngModel)]="customerEmail" type="email" required></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Método de Pago</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="block" class="btn-pago-efectivo" (click)="addCard()">
              <ion-icon name="card" slot="start"></ion-icon>
              Agregar Tarjeta
            </ion-button>
            <ion-button expand="block" class="btn-pago-efectivo" (click)="addCard()">
              <ion-icon name="storefront" slot="start"></ion-icon> <!-- Ícono de tienda -->
              Pagar en tienda
            </ion-button>
          </ion-card-content>
        </ion-card>

        <ion-button expand="block" color="primary" (click)="continuePurchase()">Continuar la compra</ion-button>
      </ion-col>

      <ion-col size="12" size-md="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-icon name="cart" slot="start"></ion-icon> Carrito 
              <ion-badge color="secondary">{{ cart.length }}</ion-badge>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let item of cart">
                <ion-thumbnail slot="start">
                  <img [src]="item.image" alt="{{ item.name }}">
                </ion-thumbnail>
                <ion-label>
                  <h2>{{ item.name }}</h2>
                  <p>Cantidad: 1</p>
                  <p>Precio: ${{ item.price.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' }) }}</p>
                </ion-label>
                <ion-button fill="clear" (click)="removeFromCart(item)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
            <ion-item-divider></ion-item-divider>
            <ion-item>
              <ion-label>Total</ion-label>
              <ion-note slot="end" color="dark"><strong>${{ calculateTotal().toLocaleString('es-CL', { style: 'currency', currency: 'CLP' }) }}</strong></ion-note>
            </ion-item>
            <ion-button expand="block" color="danger" (click)="clearCart()">Limpiar carrito</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons class="custom-footer-buttons">
      <ion-button (click)="navigateTo('/index')">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="navigateTo('/carrito')">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="navigateTo('/mi-perfil')">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

