<ion-content id="main-content" class="login-page">
  <div class="logo-container">
    <img src="assets/icon/logo.png" alt="Logo Institución" routerLink="/index" />
  </div>

  <form (ngSubmit)="agregarProducto()">
    <ion-item class="input-item">
      <ion-input [(ngModel)]="producto.id" name="id" labelPlacement="stacked" label="ID del producto" placeholder="ID"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-input [(ngModel)]="producto.name" name="name" labelPlacement="stacked" label="Nombre del producto" placeholder="Nombre"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-input [(ngModel)]="producto.price" name="price" labelPlacement="stacked" label="Precio" placeholder="$9.999"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-select [(ngModel)]="producto.category" name="category" placeholder="Confirme agregar producto">
        <ion-select-option value="masas">Confirmar</ion-select-option>
        <!-- Agrega más categorías según sea necesario -->
      </ion-select>
    </ion-item>

    <ion-button expand="block" class="file-upload">
      <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
      Seleccionar Imagen
      <input type="file" accept="image/*" class="file-input" (change)="onFileSelected($event)" />
    </ion-button>

    <ion-button expand="block" class="submit-button" type="submit">Agregar producto</ion-button>
  </form>
</ion-content>
