<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Panel de Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="admin-panel">
  <div class="welcome-message">
    <h1>Bienvenido, Administrador</h1>
  </div>

  <ion-button expand="block" class="admin-button" routerLink="/crear">Agregar productos</ion-button>
  <ion-button expand="block" class="admin-button" routerLink="/modificar">Modificar productos</ion-button>
  <ion-button expand="block" class="admin-button" routerLink="/eliminar">Eliminar productos</ion-button>
  <ion-button expand="block" class="admin-button" routerLink="/listar">Listar usuarios</ion-button>
</ion-content>
