.admin-panel {
    --background: linear-gradient(45deg, #2c4375, #8b9dc3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  
    .welcome-message {
      text-align: center;
      color: white;
      margin-bottom: 20px;
      
  
      h1 {
        font-size: 24px;
        font-weight: 400;
      }
    }
  
    .admin-button {
      --border-radius: 10px;
      --background: rgba(255, 255, 255, 0.859);
      --color: #2c4375;
      width: 80%;
      margin: 45px auto;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      --padding-top: 20px;
      --padding-bottom: 20px;

  
      &:hover {
        --background: #2c4375;
        --color: white;
      }
    }
  }
  