// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
	--ion-color-mycolor: #e2bcce;
	--ion-color-mycolor-rgb: 226,188,206;
	--ion-color-mycolor-contrast: #000000;
	--ion-color-mycolor-contrast-rgb: 0,0,0;
	--ion-color-mycolor-shade: #c7a5b5;
	--ion-color-mycolor-tint: #e5c3d3;
}

.ion-color-mycolor {
	--ion-color-base: var(--ion-color-mycolor);
	--ion-color-base-rgb: var(--ion-color-mycolor-rgb);
	--ion-color-contrast: var(--ion-color-mycolor-contrast);
	--ion-color-contrast-rgb: var(--ion-color-mycolor-contrast-rgb);
	--ion-color-shade: var(--ion-color-mycolor-shade);
	--ion-color-tint: var(--ion-color-mycolor-tint);
}