/* Menu toolbar */
.menu-toolbar {
  --background: #2c4375; /* Fondo azul oscuro */
  --color: white; /* Color del texto en el toolbar */
}

/* Estructura del contenido del menú */
.menu-content {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ocupa toda la altura de la pantalla */
}

.menu-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Hace que el contenido de la lista crezca verticalmente */
}

/* Estilos para los items del menú */
ion-item {
  --background: white;
  --color: black;
}

/* Empuja el último ítem (por ejemplo, para un botón de administrador) al final de la lista */
.admin-item {
  padding-top: 200%; /* Empuja el ítem hacia abajo */
}

/* Estilos cuando se hace hover sobre los items */
ion-item:hover {
  --background: #e4ecff; /* Cambio de fondo al hacer hover */
}

/* Color para los íconos dentro del menú */
ion-icon {
  --color: #2c4375; /* Color azul oscuro para los íconos */
}

/* Fondo del menú en diferentes plataformas */
ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

/* Espaciado adicional para las notas y encabezados de la lista en plataformas Material Design */
ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-background-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;
  margin-bottom: 18px;
  color: #757575;
  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

/* Estilos para iOS */
ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

/* Estilos generales para notas en cualquier plataforma */
ion-note {
  display: inline-block;
  font-size: 16px;
  color: var(--ion-color-medium-shade);
}

/* Estilo cuando un ítem del menú está seleccionado */
ion-item.selected {
  --color: var(--ion-color-primary);
}

/* Footer personalizado */
.custom-footer-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f0f0f0; /* Fondo claro para el footer */
  
  ion-button {
    flex-grow: 1;  /* Todos los botones ocupan el mismo espacio */
    margin: 0 3px;  
    background-color: transparent;  
    text-align: center;
    padding: 20px 0;  
    
    ion-icon {
      margin: 5px 0;  
      color: #333;  /* Color oscuro para los íconos */
    }

    &:hover {
      background-color: #e4e4e4;  /* Cambio de fondo al hacer hover */
    }
  }
}

/* Estilo para asegurar que el footer siempre esté fijo en la parte inferior */
ion-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100; /* Asegura que esté por encima de otros elementos */
}
