<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="login-page">
  <div class="logo-container">
    <img src="assets/icon/logo.png" alt="Logo Institución" routerLink="/admin" class="logo" />
  </div>

  <!-- Corregido el formGroup -->
  <form [formGroup]="form" >
    <!-- Usuario -->
    <ion-item class="input-item">
      <!-- Eliminado el form duplicado -->
      <app-inputs 
        autocomplete="email"
        icon="mail-outline" 
        label="Correo"
        [control]="form.controls.email"
        type="email">
      </app-inputs>
    </ion-item> 

    <!-- Contraseña -->
    <ion-item class="input-item">
      <app-inputs 
        icon="lock-closed-outline" 
        label="Contraseña" 
        type="password"
        [control]="form.controls.password">
      </app-inputs>
    </ion-item>

    <!-- Enlace para recuperar contraseña -->
    <a routerLink="/recupera-clave" class="forgot-password-text">¿Olvidaste la contraseña?</a>

    <!-- Botones de acción -->
    <ion-button expand="block" class="login-button" routerLink="/page1">Iniciar Sesión</ion-button>
    <ion-button expand="block" fill="outline" class="register-button" routerLink="/register">
      ¿Aún no tienes cuenta? Regístrate
    </ion-button>
  </form>
</ion-content>
