


.login-page {
    --background: linear-gradient(45deg, #2c4375, #8b9dc3);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  
    .logo-container {
      text-align: center;
      margin-bottom: 20px;
      margin-top: 30px;
  
      img {
        width: 190px;
        height: auto;
      }
    }
  
    .input-item {
      --border-color: #e0e0e0;
      --border-radius: 15px;
      --border-style: solid;
      --border-width: 1px;
      margin: 20px 0;


    }
  }
  
  .login-button, .register-button, .inputss {
    --border-radius: 10px;
    --background: rgba(255, 255, 255, 0.859); 
    --color: #2c4375; 
    --border-radius: 10px; 
    --margin-top: 40px;

 
    text-transform: uppercase; 
    width: 70%;
    margin: 10px auto;
    font-size: 15px;
    font-weight: 300;


  }
  
  .login-button:hover, .register-button:hover {
    --background: #2c4375; 
    --color: white; 
  }

  .header-toolbar {
    --background: #2c4375;
    --color: white; 
  }

  .forgot-password-text {
    color: yellow;
    display: block;
    /* Asegura que el enlace ocupe toda la línea */
    text-align: center;
    /* Centra el texto horizontalmente */
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 13px;
    /* Añade un margen hacia abajo */
  
  }

  

