<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="login-page">
  <div class="logo-container">
    <img src="assets/icon/logo.png" alt="Logo Institución" routerLink="/admin" class="logo" />
  </div>

  <div class="d-flex-center">
    <!-- Corregido el formGroup -->
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit">
      <!-- Usuario -->

        <!-- Eliminado el form duplicado -->
        <app-inputs class="inputss"
          autocomplete="email"
          icon="mail-outline" 
          label="Correo"
          [control]="form.controls.email"
          type="email">
        </app-inputs>
      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
        <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo válido</div>
      </div>

      <!-- Contraseña -->
        <app-inputs 
          icon="lock-closed-outline" 
          label="Contraseña" 
          type="password"
          [control]="form.controls.password">
        </app-inputs>
        <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
          <div *ngIf="form.controls.password.errors?.['required']">La contrasñea es requerida</div>
        </div>


      <!-- Enlace para recuperar contraseña -->
      <a routerLink="/recupera-clave" class="forgot-password-text">¿Olvidaste la contraseña?</a>

      <!-- Botones de acción -->
      <ion-button expand="block" class="login-button" type="submit" [disabled]="form.invalid">Iniciar Sesión</ion-button>
      <ion-button expand="block" fill="outline" class="register-button" routerLink="/register">
        ¿Aún no tienes cuenta? Regístrate
      </ion-button>
      <ion-button class="login-button" expand="block" routerLink="/page1">Entrar como invitado</ion-button>
    </form>

  </div>
</ion-content>
