<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card">
    <img alt="mi-perfil-icon" src="assets/icon/perfil.png" />
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>Fulanito Perez</ion-card-title>
        <ion-card-subtitle>Creado el 23-08-2024</ion-card-subtitle>
      </ion-card-header>
    </ion-card-content>
  </ion-card>

  <!-- Botón para editar el perfil -->
  <ion-button expand="block" color="primary" (click)="navigateToEditarPerfil()">
    Editar Perfil
  </ion-button>

  <!-- Botón para ir a la página de Admin -->
  <ion-button expand="block" color="tertiary" (click)="navigateToAdmin()">
    Ir a Admin
  </ion-button>

  <!-- Botón de cerrar sesión en rojo -->
  <ion-button expand="block" color="danger" (click)="cerrarSesion()">
    Cerrar Sesión
  </ion-button>

</ion-content>
