<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="login-page">
  <div class="logo-container">
    <img src="assets/icon/logo.png" alt="Logo Institución" routerLink="/index" />
  </div>

  <form>
    <ion-item class="input-item">
      <ion-label>Producto</ion-label>
      <ion-select placeholder="Selecciona un producto">
        <ion-select-option value="producto1">Producto 1</ion-select-option>
        <ion-select-option value="producto2">Producto 2</ion-select-option>
        <ion-select-option value="producto3">Producto 3</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item class="input-item">
      <ion-input labelPlacement="stacked" label="Nombre del producto" placeholder="Nombre">
        <ion-icon slot="start" name="menu-outline" aria-hidden="true"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-input labelPlacement="stacked" label="precio" placeholder="$3.590">
        <ion-icon slot="start" name="cash-outline" aria-hidden="true"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-input labelPlacement="stacked" label="Cantidad" placeholder="100">
        <ion-icon slot="start" name="stats-chart-outline" aria-hidden="true"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-input labelPlacement="stacked" label="Descripcion" placeholder="producto traido de china">
        <ion-icon slot="start" name="reorder-four-outline" aria-hidden="true"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-button expand="block" class="submit-button">Modificar producto</ion-button>
  </form>

</ion-content>