<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="assets/icon/logo.png" alt="Logo Duoc" class="logo" />
    </ion-title>
  </ion-toolbar>
</ion-header>


<!-- Imagen Banner Centrada Arriba -->
<ion-content id="main-content">
  <div class="banner-container">
    <img src="assets/icon/banner.jpg" alt="Banner" class="banner-image" (click)="navigateToPage4()" />
  </div>

  <div class="grid-container">
    <ion-card *ngFor="let item of items" (click)="navigateTo(item.link)">
      <img src="{{ item.imgSrc }}" alt="{{ item.name }}" />
      <ion-card-content>
        <h2>{{ item.name }}</h2>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<!-- Barrita-->
<ion-footer>
  <ion-toolbar>
    <ion-buttons class="custom-footer-buttons">
      <ion-button (click)="navigateTo('/index')">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="navigateTo('/carrito')">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="navigateTo('/mi-perfil')">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
