.custom-footer-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;

  ion-button {
    flex-grow: 1;  // Todos los botones ocupan el mismo espacio
    margin: 0 3px;  
    background-color: transparent;  
    text-align: center;
    padding: 20px 0;  

    ion-icon {
      margin: 5px 0;  
      color: #333;  
    }

    &:hover {
      background-color: #f9f9f9;  // Efecto hover con un cambio sutil de fondo
    }
  }
}




.logo {
  width: 100px;
  height: auto;
}




.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding: 10px;
}

ion-card {
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 10px;
  overflow: hidden;

  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  ion-card-content {
    text-align: center;
  }

  &:hover {
    transform: scale(1.05);
  }
}


ion-title {
  display: flex;
  justify-content: center;  // Centra el contenido horizontalmente
  align-items: center;      // Centra el contenido verticalmente
  text-align: center;       // Alinea el texto al centro
}

.header-text {
  font-family: 'Roboto', sans-serif;  // Cambia 'Roboto' a la fuente que prefieras
  font-size: 24px;                    // Tamaño de la fuente
  font-weight: bold;                  // Grosor de la fuente
  color: #333;                        // Color del texto
}

.logo {
                  // Ajusta el tamaño del logo si es necesario
  margin-right: 50px;                // Espacio entre el logo y el texto
}

.banner-container {
  text-align: center;
  margin: 20px;
}

.banner-image {
  width: 100%;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

ion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

ion-tab-bar {
  background-color: white;
}

ion-tab-button {
  color: black;
}
