<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mi-perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8">
        <ion-card>

          <ion-card-content>
            <ion-item lines="full">
              <ion-icon name="person" slot="start"></ion-icon>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input type="text" [(ngModel)]="nombre" placeholder=" " required></ion-input>
            </ion-item>

            <ion-item lines="full">
              <ion-icon name="person" slot="start"></ion-icon>
              <ion-label position="floating">Apellido</ion-label>
              <ion-input type="text" [(ngModel)]="apellido" placeholder=" " required></ion-input>
            </ion-item>

            <ion-item lines="full">
              <ion-icon name="people" slot="start"></ion-icon>
              <ion-label position="floating">Apodo</ion-label>
              <ion-input type="text" [(ngModel)]="apodo" placeholder=" " required></ion-input>
            </ion-item>



            <ion-item lines="full">
              <ion-icon name="call" slot="start"></ion-icon>
              <ion-label position="floating">Número de Teléfono</ion-label>
              <ion-input type="tel" [(ngModel)]="telefono" placeholder=" " required></ion-input>
            </ion-item>

            <ion-item lines="full">
              <ion-icon name="male-female" slot="start"></ion-icon>
              <ion-label position="floating">Sexo</ion-label>
              <ion-select [(ngModel)]="sexo" interface="popover">
                <ion-select-option value="masculino">Masculino</ion-select-option>
                <ion-select-option value="femenino">Femenino</ion-select-option>
                <ion-select-option value="otro">Otro</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-card-content>
        </ion-card>

        <ion-button expand="block" color="primary" (click)="guardarCambios()" class="guardar-btn">
          Guardar Cambios
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<style>
  ion-label {
    color: gray; /* Color gris para los labels */
    transition: all 0.2s ease; /* Transición suave */
  }

  ion-input:focus ~ ion-label,
  ion-input:not(:placeholder-shown) ~ ion-label {
    transform: translateY(-20px) scale(0.8); /* Desplaza y reduce el tamaño del label */
    color: var(--ion-color-primary); /* Cambia el color del label al enfocar */
  }

  .guardar-btn {
    margin-top: 16px; /* Espacio superior para el botón */
  }
</style>
