<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/index"></ion-back-button>
    </ion-buttons>
    <ion-title>Marley Coffee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Sección Cafés -->
  <ion-item-divider>
    <h1>Cafés</h1>
  </ion-item-divider>
  <div class="product-list">
    <!-- Itera sobre todos los productos -->
    <ion-card *ngFor="let product of products.slice(0, 3)">
      <img [src]="product.image" alt="{{ product.name }}" />
      <ion-card-header>
        <ion-card-title>{{ product.name }}</ion-card-title>
        <ion-card-subtitle>${{ product.price }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="full" (click)="addToCart(product)">Agregar al Carrito</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Sección Masas Dulces -->
  <ion-item-divider>
    <h1>Masas Dulces</h1>
  </ion-item-divider>
  <div class="product-list">
    <!-- Itera desde el cuarto producto hacia abajo -->
    <ion-card *ngFor="let product of products.slice(3)">
      <img [src]="product.image" alt="{{ product.name }}" />
      <ion-card-header>
        <ion-card-title>{{ product.name }}</ion-card-title>
        <ion-card-subtitle>${{ product.price }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="full" (click)="addToCart(product)">Agregar al Carrito</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="viewCart()">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
